@model IEnumerable<Project3_Site_MVC.Library.OrderHistory>

@{
    ViewData["Title"] = "Orders List";
}


<div class="panel-heading">Orders List</div>

<div class="panel-body">

    <h1 class='text-center'>Order History</h1>

    <div class='row'>
        <div class='col-md-8 col-md-offset-2'>
            <form id='searchOrdersForm' method='post'>
                <div class='form-group'>
                    <input type='search' name='search' id='search' placeholder='Search' class='form-control'>
                </div>

                <div class='text-center'>
                    <div class='form-group'>
                        <submit class='btn btn-primary' id='submitSearchOrdersForm'>
                            <i class="fas fa-search fa-lg"></i>
                        </submit>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <form id='sendMailForm' action='/' method='post'>
        <div class='row margin text-center'>
            <submit class='btn btn-success' id='btn_sendInvoices'>
                <i class="far fa-envelope fa-lg"></i> &nbsp;
                Send Invoices
            </submit>
        </div>

        <table class="table table-hovered table-bordered table-striped">
            <thead>
                <tr>
                    <th><input type='checkbox' id='selectAllInvoices'></th>
                    <th>#</th>
                    <th>Order Number</th>
                    <th>Store Name</th>
                    <th>Order Total</th>
                    <th>Date</th>
                    <th>Products</th>
                </tr>
            </thead>
            <tbody id='tableBody'>
                @Html.Partial("_List", Model)
            </tbody>
        </table>
    </form>
</div>

@section Scripts {
    <script src="/js/orders.js" asp-append-version="true"></script>
}